.ant-modal-content{
    .ant-modal-header{
        border-top-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }
    .ant-modal-body{
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }
}