@import "../../../scss/index.scss";

.formconfig-user{
    display: flex;
    flex-direction: column;
    gap: 2em;

    &__fullname {
        display: flex;
        gap: 2em;
        div{
            width: 100%;            
        }
    }

    &__resetpassword{
        display: flex;
        flex-direction: column;
        gap: 2em;  
        legend{
            margin: .5em 0;
        }      
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        &__input{
            cursor: pointer;
            width: 10em;
            align-items: center;
            border-radius: 10px;
            background: $secondary-color;
            color: $primary-color;
            height: 3em;
            padding: 1em 0;
            transition: 0.3s;
            border: 0;
            font-size: 1.3em;

            &:hover {
                color: $primary-color-hover;
                background: $secondary-color-hover;
            }

            @media (max-width: $breakpoint-md){
                width: 100%;
            }
        }
    }

    legend{
        text-align: center;
        font-size: 2em;
        margin-top: 1em;
        color: $optional-color-hover;
    }
    
    label{
        display: inline-block;
        font-size: 1.3em;
        margin-bottom: .5em;
        color: $optional-color-hover;
        abbr{
            color: $danger-color;
            text-decoration: none;
        }
    }
    .inputField{
        margin-bottom: 0;
    }
}