@import '../../scss/index.scss';

.anchorButton {
    margin: 0 auto;
    width: 15%;
    margin-bottom: 3vh;

    &__a {
        display: block;
        text-align: center;
        border-radius: 10px;
        background: $secondary-color;
        color: $secondary-white;
        height: 6vh;
        padding: 1.5vh 0;
        transition: 0.3s;

        &:hover {
            color: $secondary-white-dark;
            background: $secondary-color-dark;
        }
    }
}
