@import '../../scss/index.scss';

.anchorButton {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 3vh;
    @media (max-width: $breakpoint-md){
        width: 50%;
    }

    &__a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: $secondary-color;
        color: $primary-color;
        height: 3em;
        padding: 1em 0;
        transition: 0.3s;

        &:hover {
            color: $primary-color-hover;
            background: $secondary-color-hover;
        }
    }
}
