@import "../../../scss/index.scss";

footer {
    background-color: $secondary-color;
    font-size: 1.2em;
}

.footer-main {
    height: 100%;
    margin: 0 auto;

    .container {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $optional-color-hover;

        svg {
            color: $optional-color;
            transition: 0.3s;
        }

        .col {
            padding: 0;
            width: 33%;

            @media (max-width: $breakpoint-xl){
                width: 33%;
            }
            @media (max-width: $breakpoint-lg){
                width: 50%;
            }
            @media (max-width: $breakpoint-md){
                width: 100%;
            }
            @media (max-width: $breakpoint-sm){
                width: 100%;
            }
        }

        .widget {
            color: $primary-color;
            margin-bottom: 3em;

            a {
                color: $optional-color;

                &:hover {
                    color: $primary-color;
                }

                svg:hover {
                    color: $primary-color;
                }
            }

            span {
                color: $optional-color;
            }

            p {
                color: $optional-color;
            }

            .widget-title {
                color: $primary-color;
                text-transform: uppercase;
                margin-bottom: 1em;
            }

            .widget-list {
                text-decoration: none;
                list-style: none;
                padding: 0;
                margin-bottom: 1em;

                li {
                    margin-bottom: 0.7em;
                }
            }

            .share-link {

                svg {
                    margin-right: 0.7em;
                }
            }
        }

        .developer {
            margin-bottom: 1em;

            p {
                margin: 0;
                margin-bottom: 0.7em;
            }
        }

        .newsletter {

            p {
                line-height: 20px;
                margin-bottom: 1em;
            }

            .inputField {
                margin-bottom: 1em;
            }

            .inputButton {
                border: 1px solid transparent;
                background: $tertiary-color;
                color: $optional-color;

                &:hover {
                    background: $tertiary-color-hover;
                }

                input:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }
}

.footer-bottom {

    .container {
        padding: 30px 10px;

        span {
            color: $optional-color;
        }
    }
}
