@import "../../../scss/index.scss";

footer {
    background-color: $secondary-color;
}

.footer-main {
    height: 100%;
    margin: 0 auto;
    width: 85%;

    &__container {
        max-width: 1200px;
        padding: 50px 10px;
        display: flex;
        flex-wrap: wrap;

        svg {
            color: $optional-color;
            transition: 0.3s;
        }

        .col {
            padding: 0 0.5vw;
            min-width: 25%;
        }

        .widget {
            color: $primary-color;
            margin-bottom: 3vh;

            a {
                color: $optional-color;

                &:hover {
                    color: $primary-color;
                    text-decoration: underline;
                }

                svg:hover {
                    color: $primary-color;
                }
            }

            span {
                color: $optional-color;
            }

            .widget-title {
                color: $primary-color;
                text-transform: uppercase;
            }

            .widget-list {
                text-decoration: none;
                list-style: none;
                padding: 0;
                margin-bottom: 1vh;

                li {
                    margin-bottom: 3px;
                }
            }

            .share-link {

                svg {
                    margin-right: 1vw;
                }
            }
        }

        .developer {
            margin-bottom: 1vh;

            p {
                margin: 0;
                margin-bottom: 1vh;
            }
        }
    }
}