@import "../../../../scss/index.scss";

.navbar__buttons{

    display: inherit;    
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-bottom: none;
    line-height: 0;
    background: none;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;

    

    .ant-menu-item,
    .ant-menu-submenu {
        margin: 0 !important;
        padding: 0 .5em !important;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        a {
            &:hover {
                color: $tertiary-color;
            }
        }
    }
    .ant-menu-submenu:hover,
    .ant-menu-submenu-title:hover {
        color: $tertiary-color !important;
        border-bottom-color: $tertiary-color !important;  
        .ant-menu-submenu-arrow{
            color: $tertiary-color;
        }
    }
    .ant-menu-submenu-title{
        margin: 0 !important;
        padding: 0 !important;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .ant-menu-submenu-arrow{
        display: flex;
        align-items: center;
        position: relative;
        width: auto;
        margin-left: 10px;
        top: -5px;
        right: 0;
        color: $secondary-color;
        transform: rotate(90deg);
    }
    .ant-menu-item-active,
    .ant-menu-submenu-active,
    .ant-menu-submenu-open,
    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
        color: $tertiary-color !important;
        border-bottom-color: $tertiary-color !important; 
    }

    @media(max-width: $breakpoint-md){
        display: none;
    }

    
    
    &__icons{
        display: flex;
        flex: .5;
        justify-content: flex-end;
        align-items: center;
        li{
            padding: .4em;
            a{
                color: $secondary-color;
            }
        }
        .bag{
            display: flex;
            padding-right: 0 !important;
        }
        .number{
            position: relative;
            background: $danger-color;
            font-size: .7em;
            right: 3px;
            top: -3px;
            text-align: center;
            color: $primary-color;
            border-radius: 10px;
            padding: 2px;
            height: 100%;
        }
    }
}

.ant-menu-submenu-popup{
    top: 7vh !important;
    & > .ant-menu {
        background-color: $primary-color-hover;
    }
    .ant-menu-item-only-child{
        margin: 0 !important;
        color: $secondary-color;
        font-size: 1em;
        &:hover {
            background-color: $tertiary-color-hover;
            color: $primary-color;
        }
        &:not(:last-child){
            border-bottom: 1px solid $tertiary-color-hover;
        }        
    }
    .ant-menu-item-selected{
        background-color: $tertiary-color-hover !important;
        color: $primary-color;
    }
}

