@import "../../../scss/index.scss";

.header__home{
    height: 7vh;
    background-color: $primary-color;
    font-size: 1.5em;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar{
        background-color: $primary-color;
        height: 100%;
        display: flex;
        align-items: center;

        &__logo{            
            a{
                color: $secondary-color;
            }
        }

        &__search{          
            margin: auto 1em;
            padding: .3em;
            border-radius: 10px;
            display: flex;
            background-color: $primary-color-hover;
            width: 100%;                
                
            .search{
                width: 100%;
                border: none;
                outline: none;
                background-color: $primary-color-hover;
                color: $secondary-color;
            }
            svg{
                color: $primary-color;
                align-items: center;
                cursor: default;
            }
        }        
    }

    label{
        display: none;
        align-items: center;
        transition: .5s;
        margin-left: 1em;
        a{
            color: $secondary-color;
        }
        @media(max-width: $breakpoint-md){
            display: inline-block;
        }
    }


    .ant-layout-sider{
        position: absolute;
        right: 0;
        top: 7vh;
        height: 93vh;
        overflow-y: auto;
        @media (min-width: $breakpoint-md+1){
            display: none;
        }
        &-children{
            .ant-menu{
                background-color: $primary-color-hover;
                border: none;
                font-size: 1em;
            }
        }
    }
}