@import "../../../scss/index.scss";

.navbar {
    position: fixed;
    top: 0;
    // height: 70px;
    width: 100%;
    background: $primary-color;
    padding: 0;

    .ant-row {
        height: inherit;
    }

    &__container {
        height: inherit;
        justify-content: space-between;
        display: flex;


        .ant-menu-horizontal{
            background: $primary-color;
            display: inline-block;

            li {
                line-height: inherit;
                border: none;
            }

            &-submenu {
                border-bottom: none;
                border-bottom: 2px solid transparent;
                border-color: white;
            }

            .ant-menu-item:hover {
                background-color: $primary-color-hover;
            }

            .ant-menu-item-selected {
                background-color: $secondary-color;
            }
        }

        &__logo {
            display: inline-block;
        }

        &__menu {
            
            &__icons {
                display: inline-block;

                a {
                    margin-left: 2em;
                    color: $secondary-white;
                }
            }
        }
    }
}