$defaultFontSize: 16px;

$primary-color: #F23D5E;
$primary-color-dark: #C42F4A;
$secondary-color:#A61420;
$secondary-color-dark: #700d15;
$secondary-green: #43732D;
$secondary-orange:#BF6841;
$secondary-white: #F9F9F9;
$secondary-white-dark: #c9c9c9;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;