$defaultFontSize: 16px;

$primary-color: #F9F9F9;
$primary-color-hover: #c9c9c9;
$secondary-color:#1F2426;
$secondary-color-hover: #131618;
$tertiary-color: #557362;
$tertiary-color-hover: #3b5044;
$optional-color: #8FA1A6;
$optional-color-hover: #707d81;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;