@import "../scss/index.scss";

.user{
    display: flex;
    align-items: center;
    min-height: 97vh;
    @media(max-width: $breakpoint-md){
        flex-direction: column;
    }
    &__menu {
        background-color: $primary-color-hover;
        border-radius: 10px;
        margin-top: -5em;
        font-size: 1em;
        @media(max-width: $breakpoint-md){
            width: 100%;
            margin-top: 2em;
        }
        box-shadow: $shadow !important;
        border-right: none !important;
        

        .ant-menu-item {
            margin: 0;
            height: auto;
            padding-top: .2em;
            padding-bottom: .2em;
        }
        li {
            margin-bottom: 0 !important;
            font-size: 1.3em;
            color: $secondary-color;
            border-bottom: 1px solid $tertiary-color;
            &:last-child {
                border-bottom: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            &:first-child{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &:hover {
                background-color: $tertiary-color;
                a{
                    color: $primary-color;
                }
            }            
        }
        .ant-menu-item-selected{
            background-color: $tertiary-color !important;            
            a{
                color: $primary-color;
            }
        }       
        
    }

    .info{
        width: 100%;
        margin-top: -5em;
        margin-left: 2em;
        border-radius: 10px;
        padding: 1.5em 1.5em;
        border: 1px solid $primary-color-hover;
        box-shadow: $shadow;
    
        @media(max-width: $breakpoint-md){
            margin: 4em 0;
        }
        .error404{
            height: auto;
        }
    }
}