@import "../scss/index.scss";

.separador{
    width: 90%;
    height: 1px;
    background-color: $optional-color-hover;
    margin: 2em auto 0 auto;
}
.ant-layout-sider{
    min-height: 100vh;
    &-children {
        background-color: $primary-color-hover;
        .logoAdmin{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7vh;
            font-size: 2em;
            background-color: $primary-color;
        }

        .ant-menu {
            background-color: $primary-color-hover;
            border-right: none;
            &-item {
                width: 100%;
            }
            li{
                &:hover {
                    background-color: $tertiary-color-hover;
                    color: $primary-color;
                }
                a:hover {
                    color: $primary-color;
                }
            }
            .ant-menu-item-selected {
                background-color: $tertiary-color-hover;
                color: $primary-color;
                &::after{
                    border-right: none;
                }
                a{
                    color: $primary-color;
                }
            }
        }
        
    }
    .ant-layout-sider-trigger{
        color: $secondary-color;
        font-size: 2em;
        background-color: $primary-color-hover;
        border-top: 1px solid $tertiary-color-hover;
        &:hover {
            background-color: $tertiary-color-hover;
            color: $primary-color;
        }
    }
}

.admin__main{
    margin: 2.5rem;
    .error404 {
        height: 100%;
        margin-top: -5em;
    }
}